{% extends "base_generic.html" %}
{% load bulma_tags i18n %}

{% block content %}
<h1 class="title ">Здания</h1>
<nav class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-5">
          <ul>
            <li><strong>Здания:</strong> {{ house_list.count }}</li>
          </ul>
        </p>
      </div>
      {% if perms.catalog.add_house %}
      <p class="level-item">
        <a class="button is-dark" href="create">Создать</a>
      </p>
      {% endif %}
  
      <div class="level-item is-hidden-tablet-only">
        <div class="field has-addons">
          <p class="control">
            <input class="input" type="text" placeholder="Name, email…">
          </p>
          <p class="control">
            <button class="button">
              Search
            </button>
          </p>
        </div>
      </div>
    </div>
  
    <div class="level-right">
      <p class="level-item"><strong>All</strong></p>
      <p class="level-item"><a>With orders</a></p>
      <p class="level-item"><a>Without orders</a></p>
    </div>
  </nav>
{% if house_list %}
<div id="content" class="flex">  
  <div id="content_main">
    <form id="change-list">
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><abbr title="house_id">Код</abbr></th>
            <th><abbr title="house_name">Наимменование</abbr></th>
            <th><abbr title="house_rem">Примечание</abbr></th>
            <th><abbr title="house_region_id">Регион</abbr></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for house in house_list %}
          <tr>
            <th>{{ house.houses_id }}</th>
            <td><a href="{{ house.get_absolute_url }}"> {{ house.houses_name }}</a></td>
            <td>{{ house.houses_rem }}</td>
            <td>{{ house.houses_region_id }}</td>
            <td>
                {% if perms.catalog.delete_house %}
                <div class="buttons">
                  <a class="button is-small" href="{{ house.get_absolute_url }}">Редактировать</a>
                  <a class="button is-small" href="{{ house.get_delete_url }}">Удалить</a>
                </div>
                {% endif %}
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}